body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 5px;
    margin: 30px;
}

table {
    width: 450px;
    border-collapse: collapse;
    margin-top: 35px;
}

th{
    border: 1px solid rgb(190, 196, 202);
    background-color: rgb(240, 246, 252);
    padding: 10px;
    text-align: center;
    font-size: 13PX;
}
td{
    border: 1px solid rgb(190, 196, 202);
    color: rgb(32, 34, 36);
    font-size: 13px;
    padding: 10px;
    padding-right: 5px;
}

button{
    color: rgb(231, 231, 231);
    background-color: rgb(6, 6, 6);
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 20px;
    margin-top: 3px;
}

.home-container{
    display: flex;
    flex-direction: column;
}

.search-forms{
    display: inline;
    justify-content: center;
    margin: 5px;
}

#search-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#reset-search{
    width: auto;
    background-color: rgb(83, 82, 82);
}

.hidden{
    display: none;
}